
<body class="vh-100 ">
    <div class="container h-100 d-flex justify-content-center align-items-center ">
    <div class="homeContent">
        <h1>Fashion Finds</h1>
        <p>Discover the latest trends and timeless classics at Fashion Finds, your ultimate destination for chic and stylish clothing. Browse our curated collection of apparel and accessories, handpicked to elevate your wardrobe with elegance and flair. From casual wear to formal attire, Fashion Finds offers a diverse range of options to suit every style and occasion. Shop now and redefine your fashion statement with confidence and grace.</p>
        <ul class="list-unstyled d-flex">
            <li class="p-3"><a href="/"><i class="fa-brands fa-facebook  fa-2x"></i></a></li>
            <li class="p-3"><a href="/"><i class="fa-brands fa-instagram fa-2x "></i></a></li>
            <li class="p-3"><a href="https://twitter.com/_AmiTsingH19_" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            <li class="p-3"><a href="https://www.linkedin.com/in/amitsingh0019/" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="p-3"><a href="https://github.com/amit-singh-19" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
        </ul>
    </div>
        <img class="w-50  ms-auto" src="../../../assets/images/sustainable_earth.png" alt="">
    </div>
   
</body>

